infrastructure/*/*.tfstate*
infrastructure/*/.terraform
infrastructure/*/.terraform.*
terraform.log

ssh_scripts/inventory*
ansible.log

*DS_Store*

group*.log

secure-outpost*

.vscode/*

__pycache__

data_processing_for_lscpu/experiment_failure_cases/*