infrastructure/.terraform
infrastructure/*/*.tfstate*
infrastructure/*/.terraform
infrastructure/*/.terraform.*

ssh-scripts/inventory*

*DS_Store*

group*.log
*tf.log

secure-outpost*

.vscode/*

__pycache__